<div class="container">
  <div class="row mt-5">
    <div class="col-lg-6 mt-5 mb-3">
      <h1 class="mt-5 text-danger">Welcome to eOffice</h1>
      <h3 class="mt-5">eOffice is your go-to platform for efficiently managing essential documents like birth certificates, Aadhaar cards, and more</h3>
      <%= link_to 'tracking' , tracks_path , class:'btn btn-lg btn-primary mt-5' %>
    </div>

    <div class="col-md-6 mt-5 mb-5 ">
      <div class="about-img mt-5 card shadow">
      <%= image_tag 'indore', style: 'width: 100%; height: auto;' %>
      </div>
    </div>
  </div>
  <div class="mt-5 mb-5">
    <h1 class="mt-5 text-danger text-center">Our Services</h1>
  </div>
  <div class="row row-cols-1 row-cols-md-3 text-center g-3 mb-5">
    <div class="col-md-3 col-sm-6 col-xs-6  h-100">
      <div style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
        <a href="#">
          <%= image_tag 'certificate', style: 'width: 54%; height: auto;', class:"mt-2 border shadow" %>
        </a>
        <p class="mt-3">Easily apply for, and receive birth certificates without the hassle of paperwork.</p>
        <%= link_to 'Birth certificate' ,new_certificate_path,class:'btn btn-lg btn-primary mt-4' %>
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 h-100">
      <div  style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
        <a href="#">
          <%= image_tag 'deathcerti', style: 'width: 50%; height: auto;', class:"mt-2 border shadow" %>
        </a>
        <p class="mt-3">Manage the application, tracking, and retrieval of death certificates with ease.</p>
        <a class="btn btn-lg btn-danger mt-5" href="#"
        >Death Certificate</a
        >
      </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 h-100">
      <div style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
        <a href="#">
          <%= image_tag 'aadhar', style: 'width: 65%; height: auto;', class:"mt-2 border shadow" %>
        </a>
        <p class="mt-3">Update or apply for Aadhaar cards and keep your information up-to-date.</p>
        <a class="btn btn-lg btn-danger mt-5" href="#"
        >Aadhar Card</a
        >
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-6 h-100">
      <div style=" border: 1px solid #CACFD6; border-radius:10px 10px;  box-shadow: 3px 3px 3px 3px; padding-bottom: 20px;">
        <a href="#">
          <%= image_tag 'doc', style: 'width: 53%; height: auto;', class:"mt-2 border shadow" %>
        </a>
        <p class="mt-3">From property documents to municipal records, eOffice ensures you have access to all your</p>
        <a class="btn btn-lg btn-danger mt-4 " href="#"
        >Other documents</a
        >
      </div>
    </div>
  </div><hr>
  <div class="row mt-5 mb-5">
    <div class="col-lg-6 mt-5 mb-3">
      <div class="about-img mt-5 card shadow">
      <%= image_tag 'Raj', style: 'width: 100%; height: auto;' %>
      </div>
    </div>
    <div class="col-md-6 mt-5 mb-5 ">
      <h1 class="mt-5 text-danger">Why Choose eOffice?</h1>
      <h3 class="mt-5"> Manage your documents online anytime, anywhere.We prioritize your privacy and data security, ensuring your information is protected</h3><br>
      <button class="btn btn-lg btn-primary mt-5">Get Started</button>
    </div>
    <div class="col-md-3 mt-5">
      <%= link_to 'admin path',admin_index_path,class:'btn btn-lg btn-danger' %>
    </div>
  </div>
</div>