<!DOCTYPE html>
<html>
  <head>
    <title>Eoffice</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>



    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/f0a88910-61b1-40ee-b4e1-917aae9f7331/webchat/config.js" defer></script>
  </head>

  <body>
    <header>
      <%= render 'shared/header' %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <%= render 'shared/footer' %>

     
  </body>
</html>
